html {
    background-color: #f5cb5c;
}

h1, h2 {
    color: #242423;
    font-family: sans-serif;
}

nav {
    position: absolute;
    font-family: sans-serif;
    top: 0.5rem;
    right: 5%;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    word-spacing: 3px;

    &:hover {
        background-color: #e8eddf;
        transition: background-color 0.6s ease;
        color: black;
    }

    &:link {
        text-decoration: none;
    }
}

p {
    color: #333533;
    font-family: sans-serif;
}
footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    font-family: sans-serif;
}