---

---

<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width"/>
		<title>Boba Shop Reccs</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/boba/">Boba</a>
        <a href="/viet-food/">Vietnamese Food</a>
		<h1>My Boba Shop Reccomendations</h1>
		<p>These are listed in no particular order, just whatever comes from the top of my head.</p>
        <ol>
		<h2><li>Tastea</li></h2>
		 <p>Tastea has so many locations other than in Orange County and they are always consistent with their drinks.
		 Their boba can vary seasonally in terms of color (e.g. green regulary, purple and green during Halloween, green and red during Christmas).
		 The variation in the color of their boba just adds more to the yummy fun!</p>
		 <p>Reccommended Drinks: Taro milk tea, Winter melon milk tea, Horchata milk tea</p>
		<h2><li>Ding Tea</li></h2>
		<p>One of my go-to boba spots because it is just so close to home and they are always consistent with their drinks. It also varies from location 
			to location but some places will serve golden boba while others will serve black boba.</p>
		<p>Reccommended Drinks: Taro milk tea, Winter melon milk tea, Honey green tea.</p>
		<h2><li>Summerfield</li></h2>
		<p>Summerfield is a great study spot as it closes around 1 am but this means it is always consistently busy. People love to come here to study
			and drink their specially crafted drinks. Their tea drinks are strong in flavor and their special drinks are always so tasty.
		</p>
		<p>Reccommended Drinks: Legendary Oreo - discontinued, Roasted Oolong milk tea, Phoenix milk tea</p>
		<h2><li>Unu Cafe</li></h2>
		<p>This place is known for their 6-topping boba drinks where you get to a milk tea base and 6 different toppings that range from different kinds
			of boba to jelly shaped characters.
		</p>
		<p>Reccommended Drink: 6-topping boba</p>
		<h2><li>Chill Coffee</li></h2>
		<p>This place just recently opened and they mainly serve matcha and coffee! It is pretty similar to Da Vien in terms of drinks
			but what differentiates them from the other coffee shops is their mochi boba. Their mochi boba is cube shaped and a little bigger
			compared to regular boba.
		</p>
		<p>Recommended Drinks: Oat milk matcha latte, Double matcha, Salted cheese matcha</p>
		</ol>
	</body>
</html>
