---
import Layout from "../layouts/BaseLayout.astro"
---

<Layout title="Home">
	<body>
		<main>
		<h1>Alicia Pham's Foodie Blog</h1>
		<h1>My Reccs for Socal Boba Spots</h1>
		</main>
	</body>
</Layout>
