---
import Layout from "../layouts/BaseLayout.astro"
---

<Layout title="Home">
	<main>
	<h1>Alicia Pham's Foodie Blog</h1>
	<h1>My Reccs for Socal Boba Spots</h1>
	<p>Click on one of the links in the nav bar at the top right to get started :D</p>
	</main>
</Layout>
