---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/boba/">Boba</a>
        <a href="/viet-food/">Vietnamese Food</a>
        <h1>My Vietnamese Food Reccomendations</h1>
		<p>These are still listed in no particular order, just whatever comes from the top of my head.</p>
        <ol>
		<h2><li>Lac Viet</li></h2>
		 <p>urmom</p>
		<h2><li>Luc Dinh Key</li></h2>
		<p>urmom</p>
		<h2><li>Com Tam Thanh</li></h2>
		<p>urmom</p>
		<h2><li>Lee's Sandwiches</li></h2>
		<p>urmom</p>
		<h2><li>Lynda Sandwich</li></h2>
		<p>urmom</p>
    </body>
</html>
