---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/boba/">Boba</a>
        <a href="/viet-food/">Vietnamese Food</a>
        <h1>My Vietnamese Food Reccomendations</h1>
		<p>These are still listed in no particular order, just whatever comes from the top of my head.</p>
        <ol>
		<h2><li>Lac Viet</li></h2>
		 <p>At Lac Viet you get some free iced tea to go with your order. Their menu mainly consists of rice dishes, sizzing steak and eggs, and banh mi.
			Their meat is super tender and their rice is well seasoned. This is a great place to come to if you wanted some setak and eggs.
		 </p>
		 <p>Recommended Dishes: Sizzing steak and eggs with baguette bread, steak and eggs with rice</p>
		<h2><li>Luc Dinh Ky</li></h2>
		<p>Luc Dinh Ky has many kinds of rice and noodle dishes to accomodate any flavor preferences. Their egg noodle soups are super
			flavorful and all their protein options are cooked very well and tender. Each order comes with a free wintermelon tea drink which is really sweet
			and refreshing.
		</p>
		<p>Recommended Dishes: Chicken rice, House special egg noodles </p>
		<h2><li>Com Tam Thanh</li></h2>
		<p>Com Tam Thanh is a very consistent and tasty com tam place. It has been in business for a very long time and always delivers the best quality
			com tam every time. Their com tam is very customizable with a bunch of different kinds of side dishes. No reccommendations here either since it is 
			all up to the preference of the consumer.
		</p>
		<h2><li>Mirada</li></h2>
		<p>Mirada is a very small restaurant that serves a bunch of different Vietnamese comfort foods. Anything you order here will be super tasty so I do not exactly 
			have any specific reccommendations. When you sit down and order, you are served with a free pot of rice and you are able to get as many refills as you want on 
			rice at no extra charge.
		</p>
    </body>
</html>
