---
import Footer from "../components/Footer.astro"
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width"/>
    <title>{title}</title>
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/boba/">Boba</a>
      <a href="/viet-food/">Vietnamese Food</a>
    </nav>

    <main>
      <slot />  <!-- my content goes here -->
    </main>

    <Footer /> <!-- my footer component -->
  </body>
</html>
